<div class="fixed-bottom container-fluid bg-dark p-0">
  <div class="row w-100 no-gutters">
    <div class="col-md-1 d-none d-md-block status-item bg-primary text-center">
      <span class="text-white vt323">STATUS</span>
    </div>
    <div class="col-xs-6 col-md-1 status-item bg-secondary text-center">
      <span class="pl-md-4 text-dark vt323"><a href="https://hansbonini.com.br/feed.json" class="text-dark" target="_blank">JSON</a> | <a href="https://hansbonini.com.br/feed.xml" class="text-dark" target="_blank">XML</a></span>
    </div>
    <div class="col-xs-6 col-md-2 status-item bg-warning text-center">
      <a href="https://fb.com/hansbonini" class="text-dark" target="_blank"><span class="facebook-icon"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://instagram.com/eusouohans" class="text-dark" target="_blank"><span class="instagram-icon"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://linkedin.com/in/hans-peter-oelkers-bonini-6090a276" class="text-dark" target="_blank"><span class="linkedin-icon"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://github.com/hansbonini" class="text-dark" target="_blank"><span class="github-icon"></span></a>
    </div>
    <div class="col-xs-6 col-md-7 status-item bg-dark text-center">
      <span class="pl-md-5 pl-xs-0 text-muted vt323">Powered By </span>
      <a href="https://angular.io" class="text-dark" target="_blank"><span class="angular-icon text-secondary"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://sass-lang.com" class="text-dark" target="_blank"><span class="sass-icon text-secondary"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://pages.github.com" class="text-dark" target="_blank"><span class="gitpages-icon text-secondary"></span></a>
      <span class="text-muted vt323"> | </span>
      <a href="https://cloudflare.com" class="text-dark" target="_blank"><span class="cloudflare-icon text-secondary"></span></a>
    </div>
    <div class="col-xs-6 col-md-1 bg-success text-center">
      <span class="text-white vt323">v2.1.0</span>
    </div>
  </div>
</div>
