<div class="fixed-bottom container-fluid bg-dark p-0">
  <div class="row w-100 no-gutters">
    <div class="col-md-1 d-none d-md-block status-item bg-primary text-center">
      <span class="text-white vt323">STATUS</span>
    </div>
    <div class="col-xs-6 col-md-1 status-item bg-secondary text-center">
      <span class="pl-md-4 text-dark vt323">JSON | XML</span>
    </div>
    <div class="col-xs-6 col-md-2 status-item bg-warning text-center">
      <span class="angular-icon"></span>
      <span class="text-muted vt323"> | </span>
      <span class="sass-icon"></span>
      <span class="text-muted vt323"> | </span>
      <span class="gitpages-icon"></span>
      <span class="text-muted vt323"> | </span>
      <span class="gitpages-icon"></span>
      <span class="text-muted vt323"> | </span>
      <span class="gitpages-icon"></span>
    </div>
    <div class="col-xs-6 col-md-7 status-item bg-dark text-center">
      <span class="pl-md-5 pl-xs-0 text-muted vt323">Powered By </span>
      <span class="angular-icon"></span>
      <span class="sass-icon"></span>
      <span class="text-muted vt323"> and </span>
      <span class="gitpages-icon"></span>
    </div>
    <div class="col-xs-6 col-md-1 bg-success text-center">
      <span class="text-white vt323">v2.1.0</span>
    </div>
  </div>
</div>