<app-navigation-bar user="visitante" site="hansbonini.com.br" (menu)="toggleMenu($event)"></app-navigation-bar>
<div class="container-fluid full-contain">
  <div class="row align-items-center h-100 pt-5 pb-2">
    <!-- Aside Menu -->
    <aside class="col-12 mt-2 p-0"  [@openClosed]="MENU_STATE ? 'open' : 'closed'">
      <app-menu (toggle)="toggleMenu($event)"></app-menu>
    </aside>
    <!-- Content -->
    <div class="col-12 pt-2 pb-2 h-100 overflow-auto" (wheel)="mouseScroll($event)" [scrollTop]="scrollOffset">
      <div class="background-canvas">
        <app-background-canvas></app-background-canvas>
      </div>
      <div #page class="container pt-4 pb-5">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
      <div class="responsive-fixer {{ MOBILE_STATE ? 'py-2' : 'py-5' }}">
      <div class="scrollbar bg-dark border-primary" *ngIf="MOBILE_STATE" [@scrollDisplay]="SCROLL_STATE ? 'show':'hide'">
        <div class="scroller"><div class="scroller-bar rounded bg-primary" [style.height.px]="scrollerHeight" [style.top.px]="scrollerOffset"></div></div>
        <div class="top" (click)="scrollUp()"><i class="fas fa-caret-square-up text-primary"></i></div>
        <div class="down" (click)="scrollDown()"><i class="fas fa-caret-square-down text-primary"></i></div>
      </div>
    </div>
  </div>
</div>
<app-status-bar></app-status-bar>
