.author
    background lighten(bg_color,10%)
    display table
    width 100%
    padding rem(40px) 0
    margin rem(40px) 0
    +above(cut)
        padding rem(50px) 0
    .details
        margin auto
        max-width rem(800px)
        padding 0 rem(20px)
        +below(cut)
            text-align center
    svg
        float right
        size(25,25)
        margin-right rem(10px)
    a
        fill warning
        text-decoration none
        border none
        transition all .3s
        &:hover
            fill darken(warning, 30%)
    img
        width rem(80px)
        border-radius 50%
        display block
        margin auto
        +above(cut)
            float left
            margin-right 3.125rem
    .def
        color primary
        font-size rem(24px)
        secondaryFont(300)
        margin rem(10px)
        +above(cut)
            margin 0
    .name
        margin 0
        a
            secondaryFont()
            text-decoration none
            color warning
            font-size rem(30px)
            &:hover
                color darken(warning, 30%)
            +above(cut)
                font-size rem(30px)
    .desc
        mainFont(300)
        color default
        margin rem(10px)
        font-size rem(16px)
        line-height rem(25px)
        +above(cut)
            font-size rem(16px)
